.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  padding-top: 45px;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}

.screen-header__icons span {
  padding-left: 20px;
}

.friends-screen__channel {
  border-top: 1px solid rgb(0, 0, 0, 0.2);
  margin-top: 15px;
  padding-top: 10px;
}

.friends-screen__channel-header {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  color: rgb(0, 0, 0, 0.4);
}

.user-component__column :last-child {
  color: rgb(0, 0, 0, 0.8);
}
